// Colors context
@bgDefautl: rgb(247, 250, 255);
@bgPage: #161616;
@bgPageGray: #ecebf1;
//@bgPage: #ecebf1;
@colorText: #292e35;
@colorTextReference: #777777;
@colorLine: rgb(207, 208, 211);

// Colors General
@colorWhite: #ffffff;
@colorBlack: #000;

@colorBlue: #3369e7;
@colorDarkblue: #003666;
@colorSkyblue: #00aeff;
@colorDodgerBlue: #1e90ff;

@colorPurple: #8e43e7;
@colorMediPurple: #ad9ae8;
@colorViolet: #b84592;
@colorRed: #DB2030;
@colorOrange: #ffc168;
@colorYellow: #ffd900;

@colorGreen: #05bb37;
@colorDarkGreen: #087425;
@colorLightGreen: #2dde98;
@colorSeaGreen: #1cc7d0;

@colorPrimary: #06165B;
@colorPrimaryHover: #990c40;
@colorSecondary: #6598DE;
@colorTertiary: #e06652;

// Colors Btns
@colorBtnDefault: @colorWhite;
@colorBtnDefaultHover: #ededed;

@colorBtnPrimary: @colorBlue;
@colorBtnPrimaryHover: #4674de;

@colorBtnInfo: @colorSkyblue;
@colorBtnInfoHover: @colorDodgerBlue;

@colorBtnSuccess: @colorGreen;
@colorBtnSuccessHover: @colorDarkGreen;

@colorBtnWarning: @colorOrange;
@colorBtnWarningHover: @colorRed;

@colorBtnDanger: @colorRed;
@colorBtnDangerHover: @colorViolet;

// Colors Form
@colorPlaceholder: #ededed;
@colorBgInput: #f1f1f1;

// Colors Alert
// @alertSuccess: #15c14a;
@alertSuccess: #00a400;
@alertWarning: #f89406;
@alertDanger: #fe3535;
@alertInfo: #5bc0de;

//card

@cardSuccess: #91cf91;
@cardWarning: #fdc26f;
@cardDanger: #f87e7e;
@cardInfo: #96dbf0;

// Form
@bgInput: #ffffff;
@borderInput: rgba(0, 0, 0, 0.14);
@colorTextForm: #202429;
@colorIconAdd: rgb(95, 101, 117);
@colorInput: #383551;
@colorPlaceholder: rgb(95, 101, 117);

//Nav
//@bgNav: #ffffff;
@btnColorNav: #cfcfde;
@btnColorNavHover: #363649;
@colorBtn: #c8cdd2;
@btnProfile: #c3c3d6;
@btnTextProfile: #ffffff;
@colorBtnHover: #9a9ab4;
@colorBtnHoverMenu: #607986;
@btnSearchNav: #cdcdcd;
@colorInputSearch: #3e4148;
@colorBtnSearchFarmacia: #ff5895;
// @colorBgBtnPerfil:#B2B8CA;
@colorBgBtnPerfil: #f3bd6d;

@colorMenuBtnHover: #3e4148;
@colorMenuBgHover: #fff;

//NavTop
@colorMenuTop: transparent; //#06165b;
@colorMenuTopBtn: #ffffff;
@colorMenuGeneral: #fd3d84;

//sidebar
@colorTitleSidebar: #667080;
@colorTextBtn: #696971;
@colorTextBtnHover: #26262b;
@colorTextBtnHoverBg: #ecedef;
@bgSidebar: rgb(255 255 255 / 59%);
@bgSidebarModileMenu: #ffffff;
@bgBtnHoverSidebar: #ff9800;
@colorSidebarTitle: #5a5e6b;
@colorSidebarIcon: #96a6be;
@colorIconPerfil: #ffc107;

@colorBlock: #e6ebec;

//Tabs
@colorTabText: #828288;
@colorTabTextHover: #cfcfde;
@colorTabBg: #e9e9ef;
@colorTabBgHover: #454b54;
@colorBgTabMobile: rgb(142 143 154);

//input
@colorSelect: #616d73;

//loading
@colorLoadingBar: #22b5ff;
@colorLoadingLine: #e2d7d7;

//Table
@colorTextAux: #667080;
@bgHeadTable: #f2f3f9;
@evenTr: #efefef;

//Module
@colorSubMenuTop: #f2f3f9;

//Products
@colorPricing: #db2a6b;

//Cart
@colorCartBubble: rgb(230, 55, 55);
@cologBgRowEven: #ebeef5;
@cologBgRowOdd: rgb(163, 174, 175);
@colorBtnStep: #62687d;
@colorBtnStepHover: #4674de;
@colorBgBox: #f3f3f3;

//Social
@colorFacebook: #0c7eeb;
@colorGoogle: #ea4335;

//publications

@colorTitle: #06165B;
@colorBlueBase: #06165b;
@colorBlueBase: #06165b;