@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

@bgBox {
    background: rgba(6, 22, 91, 0.5);
}

body {
    background: @bgPage;
    color: @colorText;
    font-size: 14px;
}

.ws {
    .block {
        .widthAvailable();
    }
}

.bodyPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .homePage {
        //width: @widthContainer; 
    }
}

.btn {
    border-color: @colorPrimary  !important;

    >.icon {
        color: @colorPrimary  !important;
    }
}


//Generals
.pub {
    // .widthAvailable();
    width: 100%;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    position: relative;

    a {
        color: @colorPrimary;
    }

    &.pub-gray {
        background: @bgPageGray;
    }

    &.pub-blue-base {
        background: @colorBlueBase;

        .titleSection {
            color: @colorWhite;
        }

        .summarySection {
            color: @colorWhite;
        }
    }

    >.container {
        display: flex;
        flex-direction: column;
    }

    .titleSection {
        .widthAvailable();
        font-size: 30px;
        line-height: 35px;
        font-weight: 800;
        text-transform: uppercase;
        color: @colorTitle;
        //border-bottom: 1px solid @colorTitle;
        width: fit-content;
        // padding-bottom: 10px;
        padding-right: 40px;
        margin-bottom: 7px;

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
        }

        h2 {
            font-size: 20px;
            line-height: 25px;
            font-weight: 600;
        }
    }



    .summarySection {
        width: 65%;
        font-size: 14px;
        line-height: 21px;
        /* or 150% */
        color: @colorText;
        .fontLight();
        letter-spacing: 0;

        p {
            margin-bottom: 15px;
        }
    }

    .bodySection {
        margin-top: 20px;
        font-size: 16px;
        line-height: 26px;

        .iconCont {
            display: block;
            width: 24px;
            height: 24px;
            font-size: 34px;

            color: @colorSecondary;
        }

        .table {
            td {
                padding: 10px 20px;
                vertical-align: top;
                color: @colorPrimary;
            }
        }
    }

    .list {
        display: flex;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .item {
            width: 32%;
            min-height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .text {
                width: 80%;
                color: white;
                text-align: center;

                z-index: 5;

                h1,
                .title {
                    font-size: 17px;
                    line-height: 22px;
                    .fontBold();
                }

                .summary {
                    font-size: 14px;
                    line-height: 21px;
                    .fontRegular();
                }
            }

            .bg {
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(11, 15, 21, 0.3);
            }

            .img {
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: cover !important;
                z-index: 0;
            }
        }
    }
}


#video-portada {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;



    .caption {
        position: absolute;
        z-index: 2;
        bottom: 50px;
        width: 60%;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .text {
            line-height: 20px;
            margin-bottom: 7px;
            .fontLight();
        }

        label {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            .fontHeavy();
        }

        a {
            img {
                height: 21px;
                margin-top: 10px;
            }
        }
    }

    .videoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-sizing: content-box;
        height: 100%;
    }

    video {
        z-index: 0;
        width: fit-content;
        height: 100%;
    }

    .bg {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.social {
    display: flex;
    flex-direction: row;
    gap: 7px;

    a {
        img {
            width: 34px;
        }
    }
}




.pub-about {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-y: 100% !important;
    background-size: cover !important;

    .pub-inner {
        padding-left: 10%;


        .titleSection {
            color: rgb(161, 29, 47);
            font-size: 42px;
            .fontRegular();
        }

        .summarySection {
            color: @colorWhite;
            font-size: 16px;
            .fontLight();
            
            text-shadow: 5px 5px 30px #2c2727;
        }
    }
}

.directorsLocals {
    padding-top: 50px;
}

.pub-services {
    background-color: @colorBlack;
    padding: 30px 0 0;

    .titleSection {
        color: @colorWhite;
        font-size: 42px;
        .fontRegular();
    }

    .bodySection {
        display: flex;

        .btnService {
            width: 100%;
            height: 40vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            position: relative;
            overflow: hidden;
            background-size: cover !important;

            &.on {
                >label {
                    display: none;
                }
            }

            >label {
                color: white;
                z-index: 3;
                line-height: 22px;
                font-size: 1.2em;
                text-align: center;
            }

            &[path="cine"] {
                font-size: 1.5em;
            }

            .bg {
                position: absolute;
                z-index: 2;
                background: rgba(0, 0, 0, 50%);
                width: 100%;
                height: 100%;

                &.on {
                    background: rgba(0, 0, 0, 0.8);
                }
            }

            img {
                max-width: 80%;
                z-index: 4;
            }

            .summary {
                font-size: 12px;
                line-height: 14px;
                color: white;
                z-index: 4;
                text-align: center;
                margin-bottom: -100%;
                position: absolute;
                width: 85%;
                opacity: 0;
                transition: all ease .3s;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: 10px;
                }

                label {
                    color: white;
                    z-index: 3;
                    line-height: 22px;
                    font-size: 1.4em;
                    text-align: center;
                    margin-bottom: 10px;
                }

                &.on {
                    opacity: 1;
                    position: relative;
                    margin-bottom: 0;
                    transition: all ease .3s;
                }

            }
        }
    }
}

.pub-partnerships {
    height: 39.2vh;
    padding: 0;
    background: url("../../img/Alianzas-GuaraniFilmsV2.png") no-repeat center left;
    background-size: auto 100% !important;

    .pub-inner {
        position: relative;
        height: 100%;

        .titleSection {
            display: none;
        }

        .bodySection {
            display: flex;
            width: -webkit-fill-available;
            padding-left: 45vh !important;
            height: 100%;
            margin: 0;
            padding: 0;



            .btnPartner {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
                transition: all ease .3s;

                &.on {
                    transition: all ease .3s;

                    .mark {
                        margin-bottom: 10%;
                        transition: all ease .3s;
                    }

                    &.btnRatio {
                        .mark {
                            margin-bottom: 13%;
                            transition: all ease .3s;
                        }
                    }
                }

                &.btnRatio {
                    .mark {
                        height: 50px;
                        margin-bottom: 10px;
                    }
                }

                .mark {
                    max-width: 80%;
                    height: 80px;


                }

                .flag {
                    width: 100%;
                }
            }
        }
    }
}

.pub-directors {
    padding: 0;

    .titleSection {
        padding: 40px 0 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .widthAvailable();

        img {
            width: 300px;
        }
    }

    .bodySection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        flex-wrap: wrap;
        gap: 15px;

        .btnModDirector {
            background-size: auto 100% !important;
            width: 28%;
            height: 45vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &.on {
                background-size: auto 105% !important;
            }

            >span {
                z-index: 2;
                font-size: 18px;
                width: 100%;
                position: absolute;
                bottom: 40px;
                text-align: center;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: @colorWhite;
                .fontBold();
            }




            .bg {
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
                z-index: 0;
            }
        }
    }

    .directorsExt {
        .titleSection {
            img {
                width: 100%;
            }
        }
    }
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 95%);
    transition: all ease .3s;
    opacity: 0;
    z-index: 10000;
    pointer-events: none;

    &.on {
        transition: all ease .3s;
        opacity: 1;
        pointer-events: auto;
    }

    .btnCancel {
        position: absolute;
        top: 73px;
        right: 30px;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: .5;

        &:hover {
            opacity: 1;
        }

        span {
            font-size: 16px;
        }
    }

    iframe {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        height: 80%;
        border: 0;
    }
}

.pub-footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-size: cover !important;

    .pub-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        text-shadow: 5px 5px 17px #2c2727;

        .boxLeft {
            img {
                width: 450px;
            }
        }

        .boxMiddle {
            width: 30%;
            color: @colorWhite;
            font-family: 'ppLight';
            text-shadow: 5px 5px 17px #2c2727;




            p {
                margin-bottom: 10px;
            }

            .social {
                margin-top: 10px;
            }

        }

        .boxRight {
            img {
                width: 240px;
                padding: 10px;
            }
        }
    }
}

//Media 
@media (max-width: 1920px) {
    .container {
        width: 1500px;
    }
}

@media (max-width: 1445px) {
    .container {
        width: 1200px;
    }

    .pub-novedades {
        height: 150px;
        margin-top: -150px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1100px;
    }

    .pub-novedades {
        height: -150px;
        margin-top: -150px;
    }
}


@media (max-width: 470px) {

    .container {
        .widthAvailable();
    }

    nav {
        .navTop {
            .social {
                a {
                    img {
                        width: 28px !important;
                    }
                }
            }
        }

        .brand {
            width: 140px;
        }
    }

    .btnMenuGeneral {

        width: 32px;
        height: 25px;
        top: 19px !important;
    }

    .pub {
        padding: 60px 0px;

        .pub-inner {
            .titleSection {
                font-size: 35px;

            }

            .summarySection {
                padding: 10px 20px 10px 20px;
            }
        }

    }

    .pub-partnerships {
        background-size: auto 90% !important;

        .pub-inner {
            .bodySection {
                flex-direction: column;
                width: 100%;
                padding-left: 0 !important;
                padding-top: 100%;

                .btnPartner {
                    .mark {
                        margin-top: 5%;
                    }
                }
            }

        }
    }

    .pub-home {
        height: 250px !important;
    }

    .pub-services {
        padding-bottom: 35px;
        padding-top: 20px;

        .titleSection {
            padding: 0px 80px 0px;
        }

        .bodySection {
            flex-direction: column;
            gap: 10px !important;

            .btnService {
                height: 200px !important;
                padding: 0px;

            }
        }
    }

    .pub-about {
        .pub-inner {
            padding-left: 10%;

            .summarySection {
                width: 80%;
            }
        }

        .titleSection {
            padding: 10px 5px 10px 15px;
        }
    }

    .pub-directors {
        padding-bottom: 0px;

        .directorsLocals {
            .titleSection {
                padding-left: 55px;
                padding-top: 520px;
            }
        }

        .directorsExt {
            .titleSection {
                padding: 0;

            }

            img {
                object-fit: cover;
                width: 20vw;
                height: 70px;

            }

            .bodySection {
                padding-top: 20;
            }

        }

        .titleSection {
            padding: 0;
        }

        .bodySection {
            flex-direction: column;
            padding-bottom: 20px !important;

            .btnModDirector {
                width: 100%;
                height: 40vh;
            }
        }
    }

    .pub-promise {
        .container {
            flex-direction: column;

            .item {
                .widthAvailable();
                padding-left: 15px;
                margin-bottom: 15px;

                .iconSprite {
                    height: 50px;
                }

                span {
                    width: 90%;

                    h2 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .pub-footer {
        .pub-inner {
            flex-direction: column;

            .boxMiddle {
                width: 80%;
            }
        }
    }

    .pub-categoryList {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .tbody {
            .inner {
                .item {
                    width: 47% !important;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .pub-marks {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .modalPage {
        >.inner {
            .widthAvailable();
            height: 100%;

            top: 63px;
            margin: 0px;
            margin-top: -20%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .head {
                .title {
                    span {
                        font-size: 13px;
                    }
                }
            }
        }

        .btnSocial {
            width: 40% !important;
        }
    }
}