@bg Box {
  background: rgba(6, 22, 91, 0.5);
}
body {
  background: #161616;
  color: #292e35;
  font-size: 14px;
}
.ws .block {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.bodyPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  border-color: #06165B !important;
}
.btn > .icon {
  color: #06165B !important;
}
.pub {
  width: 100%;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.pub a {
  color: #06165B;
}
.pub.pub-gray {
  background: #ecebf1;
}
.pub.pub-blue-base {
  background: #06165b;
}
.pub.pub-blue-base .titleSection {
  color: #ffffff;
}
.pub.pub-blue-base .summarySection {
  color: #ffffff;
}
.pub > .container {
  display: flex;
  flex-direction: column;
}
.pub .titleSection {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  font-size: 30px;
  line-height: 35px;
  font-weight: 800;
  text-transform: uppercase;
  color: #06165B;
  width: fit-content;
  padding-right: 40px;
  margin-bottom: 7px;
}
.pub .titleSection h1,
.pub .titleSection h2,
.pub .titleSection h3,
.pub .titleSection h4,
.pub .titleSection h5 {
  margin: 0;
}
.pub .titleSection h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.pub .summarySection {
  width: 65%;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  color: #292e35;
  font-family: "ppLight", sans-serif;
  font-weight: 300;
  letter-spacing: 0;
}
.pub .summarySection p {
  margin-bottom: 15px;
}
.pub .bodySection {
  margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
}
.pub .bodySection .iconCont {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 34px;
  color: #6598DE;
}
.pub .bodySection .table td {
  padding: 10px 20px;
  vertical-align: top;
  color: #06165B;
}
.pub .list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.pub .list .item {
  width: 32%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pub .list .item .text {
  width: 80%;
  color: white;
  text-align: center;
  z-index: 5;
}
.pub .list .item .text h1,
.pub .list .item .text .title {
  font-size: 17px;
  line-height: 22px;
  font-family: "ppBold", sans-serif;
  font-weight: 700;
}
.pub .list .item .text .summary {
  font-size: 14px;
  line-height: 21px;
  font-family: "ppRegular", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
.pub .list .item .bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(11, 15, 21, 0.3);
}
.pub .list .item .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  z-index: 0;
}
#video-portada {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#video-portada .caption {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  width: 60%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#video-portada .caption .text {
  line-height: 20px;
  margin-bottom: 7px;
  font-family: "ppLight", sans-serif;
  font-weight: 300;
}
#video-portada .caption label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: "ppHeavy", sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
}
#video-portada .caption a img {
  height: 21px;
  margin-top: 10px;
}
#video-portada .videoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: content-box;
  height: 100%;
}
#video-portada video {
  z-index: 0;
  width: fit-content;
  height: 100%;
}
#video-portada .bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.social a img {
  width: 34px;
}
.pub-about .pub-inner .summarySection {
  padding: 0px !important;
}
.pub-about {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position-y: 100% !important;
  background-size: cover !important;
}
.pub-about .pub-inner {
  padding-left: 10%;
}
.pub-about .pub-inner .titleSection {
  color: #ffffff;
  font-size: 42px;
  font-family: "ppRegular", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
.pub-about .pub-inner .summarySection {
  color: #ffffff;
  font-size: 16px;
  font-family: "ppLight", sans-serif;
  font-weight: 300;
  text-shadow: 5px 5px 30px #2c2727;
}
.directorsLocals {
  padding-top: 50px;
}
.pub-services {
  background-color: #000;
  padding: 30px 0 0;
}
.pub-services .titleSection {
  color: #ffffff;
  font-size: 42px;
  font-family: "ppRegular", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
.pub-services .bodySection {
  display: flex;
}
.pub-services .bodySection .btnService {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background-size: cover !important;
}
.pub-services .bodySection .btnService.on > label {
  display: none;
}
.pub-services .bodySection .btnService > label {
  color: white;
  z-index: 3;
  line-height: 22px;
  font-size: 1.2em;
  text-align: center;
}
.pub-services .bodySection .btnService[path="cine"] {
  font-size: 1.5em;
}
.pub-services .bodySection .btnService .bg {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.pub-services .bodySection .btnService .bg.on {
  background: rgba(0, 0, 0, 0.8);
}
.pub-services .bodySection .btnService img {
  max-width: 80%;
  z-index: 4;
}
.pub-services .bodySection .btnService .summary {
  font-size: 12px;
  line-height: 14px;
  color: white;
  z-index: 4;
  text-align: center;
  margin-bottom: -100%;
  position: absolute;
  width: 85%;
  opacity: 0;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pub-services .bodySection .btnService .summary img {
  margin-bottom: 10px;
}
.pub-services .bodySection .btnService .summary label {
  color: white;
  z-index: 3;
  line-height: 22px;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 10px;
}
.pub-services .bodySection .btnService .summary.on {
  opacity: 1;
  position: relative;
  margin-bottom: 0;
  transition: all ease 0.3s;
}
.pub-partnerships {
  height: 39.2vh;
  padding: 0;
  background: url("../../img/Alianzas-GuaraniFilmsV2.png") no-repeat center left;
  background-size: auto 100% !important;
}
.pub-partnerships .pub-inner {
  position: relative;
  height: 100%;
}
.pub-partnerships .pub-inner .titleSection {
  display: none;
}
.pub-partnerships .pub-inner .bodySection {
  display: flex;
  width: -webkit-fill-available;
  padding-left: 45vh !important;
  height: 100%;
  margin: 0;
  padding: 0;
}
.pub-partnerships .pub-inner .bodySection .btnPartner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  transition: all ease 0.3s;
}
.pub-partnerships .pub-inner .bodySection .btnPartner.on {
  transition: all ease 0.3s;
}
.pub-partnerships .pub-inner .bodySection .btnPartner.on .mark {
  margin-bottom: 10%;
  transition: all ease 0.3s;
}
.pub-partnerships .pub-inner .bodySection .btnPartner.on.btnRatio .mark {
  margin-bottom: 13%;
  transition: all ease 0.3s;
}
.pub-partnerships .pub-inner .bodySection .btnPartner.btnRatio .mark {
  height: 50px;
  margin-bottom: 10px;
}
.pub-partnerships .pub-inner .bodySection .btnPartner .mark {
  max-width: 80%;
  height: 80px;
}
.pub-partnerships .pub-inner .bodySection .btnPartner .flag {
  width: 100%;
}
.pub-directors {
  padding: 0;
}
.pub-directors .titleSection {
  padding: 40px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.pub-directors .titleSection img {
  width: 300px;
}
.pub-directors .bodySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  flex-wrap: wrap;
  gap: 15px;
}
.pub-directors .bodySection .btnModDirector {
  background-size: auto 100% !important;
  width: 28%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pub-directors .bodySection .btnModDirector.on {
  background-size: auto 105% !important;
}
.pub-directors .bodySection .btnModDirector > span {
  z-index: 2;
  font-size: 18px;
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "ppBold", sans-serif;
  font-weight: 700;
}
.pub-directors .bodySection .btnModDirector .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  z-index: 0;
}
.pub-directors .directorsExt .titleSection img {
  width: 100%;
}
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.95);
  transition: all ease 0.3s;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
}
.video.on {
  transition: all ease 0.3s;
  opacity: 1;
  pointer-events: auto;
}
.video .btnCancel {
  position: absolute;
  top: 73px;
  right: 30px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
}
.video .btnCancel:hover {
  opacity: 1;
}
.video .btnCancel span {
  font-size: 16px;
}
.video iframe {
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  height: 80%;
  border: 0;
}
.pub-footer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-size: cover !important;
}
.pub-footer .pub-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-shadow: 5px 5px 17px #2c2727;
}
.pub-footer .pub-inner .boxLeft img {
  width: 450px;
}
.pub-footer .pub-inner .boxMiddle {
  width: 30%;
  color: #ffffff;
  font-family: 'ppLight';
  text-shadow: 5px 5px 17px #2c2727;
}
.pub-footer .pub-inner .boxMiddle p {
  margin-bottom: 10px;
}
.pub-footer .pub-inner .boxMiddle .social {
  margin-top: 10px;
}
.pub-footer .pub-inner .boxRight img {
  width: 240px;
  padding: 10px;
}
@media (max-width: 1920px) {
  .container {
    width: 1500px;
  }
}
@media (max-width: 1445px) {
  .container {
    width: 1200px;
  }
  .pub-novedades {
    height: 150px;
    margin-top: -150px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 1100px;
  }
  .pub-novedades {
    height: -150px;
    margin-top: -150px;
  }
}
@media (max-width: 470px) {
  .container {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
  }
  nav .navTop .social a img {
    width: 28px !important;
  }
  nav .brand {
    width: 140px;
  }
  .btnMenuGeneral {
    width: 32px;
    height: 25px;
    top: 19px !important;
  }
  .pub {
    padding: 60px 0px;
  }
  .pub .pub-inner .titleSection {
    font-size: 35px;
  }
  .pub .pub-inner .summarySection {
    padding: 10px 20px 10px 20px;
  }
  .pub-partnerships {
    background-size: auto 90% !important;
  }
  .pub-partnerships .pub-inner .bodySection {
    flex-direction: column;
    width: 100%;
    padding-left: 0 !important;
    padding-top: 100%;
  }
  .pub-partnerships .pub-inner .bodySection .btnPartner .mark {
    margin-top: 5%;
  }
  .pub-home {
    height: 250px !important;
  }
  .pub-services {
    padding-bottom: 35px;
    padding-top: 20px;
  }
  .pub-services .titleSection {
    padding: 0px 80px 0px;
  }
  .pub-services .bodySection {
    flex-direction: column;
    gap: 10px !important;
  }
  .pub-services .bodySection .btnService {
    height: 200px !important;
    padding: 0px;
  }
  .pub-about .pub-inner {
    padding-left: 10%;
  }
  .pub-about .pub-inner .summarySection {
    width: 80%;
  }
  .pub-about .titleSection {
    padding: 10px 5px 10px 15px;
  }
  .pub-directors {
    padding-bottom: 0px;
  }
  .pub-directors .directorsLocals .titleSection {
    padding-left: 55px;
    padding-top: 520px;
  }
  .pub-directors .directorsExt .titleSection {
    padding: 0;
  }
  .pub-directors .directorsExt img {
    object-fit: cover;
    width: 20vw;
    height: 70px;
  }
  .pub-directors .directorsExt .bodySection {
    padding-top: 20;
  }
  .pub-directors .titleSection {
    padding: 0;
  }
  .pub-directors .bodySection {
    flex-direction: column;
    padding-bottom: 20px !important;
  }
  .pub-directors .bodySection .btnModDirector {
    width: 100%;
    height: 40vh;
  }
  .pub-promise .container {
    flex-direction: column;
  }
  .pub-promise .container .item {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  .pub-promise .container .item .iconSprite {
    height: 50px;
  }
  .pub-promise .container .item span {
    width: 90%;
  }
  .pub-promise .container .item span h2 {
    font-size: 15px;
  }
  .pub-promise .container .item span p {
    font-size: 12px;
  }
  .pub-footer .pub-inner {
    flex-direction: column;
  }
  .pub-footer .pub-inner .boxMiddle {
    width: 80%;
  }
  .pub-categoryList .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .pub-categoryList .tbody .inner .item {
    width: 47% !important;
    margin-bottom: 15px;
  }
  .pub-marks .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modalPage > .inner {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: 100%;
    top: 63px;
    margin: 0px;
    margin-top: -20%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .modalPage > .inner .head .title span {
    font-size: 13px;
  }
  .modalPage .btnSocial {
    width: 40% !important;
  }
}
