@font-face {
    font-family: 'ppBold';
    src: url('../../fonts/gl-bold.woff2') format('woff2'), url('../fonts/gl-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ppLight';
    src: url('../../fonts/gl-light.woff2') format('woff2'), url('../fonts/gl-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ppRegular';
    src: url('../../fonts/tp-regular.woff2') format('woff2'), url('../fonts/tp-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'ppThin';
    src: url('../../fonts/ppThin.woff2') format('woff2'), url('../fonts/ppThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'ppHeavy';
    src: url('../../fonts/gl-heavy.woff2') format('woff2'), url('../fonts/gl-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fontThin() {
    font-family: "ppThin", sans-serif;
    font-weight: 100;
}

.fontLight() {
    font-family: "ppLight", sans-serif;
    font-weight: 300;
}

.fontRegular() {
    font-family: "ppRegular", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.fontMedium() {
    font-family: "ppMedium", sans-serif;
    font-weight: 400;
}

.fontBold() {
    font-family: "ppBold", sans-serif;
    font-weight: 700;
}

.fontBlack() {
    font-family: "ppBlank", sans-serif;
    font-weight: 800;
}

.fontHeavy() {
    font-family: "ppHeavy", sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
}