@import (reference) "color.less";
@import (reference) "font.less";

@borderRadiusBtn: 0px;
@borderRadiusForm: 0px;
@borderRadiusFormInput: 0px;

@paddingSite : 25px;

@fontIcon: "font-brave";
@iconPointerL: "\E817";
@iconCheckOk: "\e800";
@widthContainer: 1024px;

.border(@x) {
    border: 1px solid @x;
}

.borderRadius(@x) {
    border-radius: @x;
}

.transition() {
    transition: all ease 0.3s;
}

// general
* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: @colorWhite;
    font-family: @fontIcon;
    .fontRegular();
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover !important;
    color: @colorText;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    .fontRegular();
}

.containerFluid {
    width: 100%;
}

.container {
    width: @widthContainer;
    margin-right: auto;
    margin-left: auto;
}

.pullRight {
    float: right;
}

.pullLeft {
    float: left;
}

a {
    transition: all ease 0.3s;

    &:hover {
        transition: all ease 0.3s;
    }
}

.btn {
    background: @colorBtnDefault;
    color: @colorText;
    //border: 2px solid transparent;
    -webkit-border-radius: @borderRadiusBtn;
    border-radius: @borderRadiusBtn;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all ease 0.3s;
    text-align: center;
    border: 1px solid rgb(119 93 128 / 10%);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 1px;
    .fontBold();

    >.icon {
        font-size: 19px;
        margin: 0px 10px;
    }

    &:hover {
        transition: all ease 0.3s;
        background-color: @colorBtnDefaultHover; // opacity: 0.7;
    }

    &.btnPrimary {
        background-color: @colorBtnPrimary;
        color: @colorWhite;

        &:hover {
            background-color: @colorBtnPrimaryHover;
        }
    }

    &.btnCancel {
        border: 0;
    }

    &.btnInfo {
        background-color: @colorBtnInfo;
        color: @colorWhite;

        &:hover {
            background-color: @colorBtnInfoHover;
        }
    }

    &.btnSuccess {
        background: @colorBtnSuccess  !important;
        color: @colorWhite  !important;

        &:hover {
            background-color: @colorBtnSuccessHover  !important;
        }
    }

    &.btnWarning {
        background-color: @colorBtnWarning;
        color: @colorWhite;

        &:hover {
            background-color: @colorBtnWarningHover;
        }
    }

    &.btnDanger {
        background-color: @colorBtnDanger  !important;
        color: @colorWhite;

        &:hover {
            background-color: @colorBtnDangerHover;
        }
    }

    &.btnFull {
        background: transparent !important;
        border: 1px solid @colorLine;

        &:hover {
            background-color: @colorBtnDefaultHover;
        }
    }

    &.btnLink {
        background: transparent;
        border-color: transparent;
        text-decoration: underline;

        &:hover {
            text-decoration: underline !important;
        }
    }

    &.btnBackPage {
        margin-top: 70px;
        display: inline-block;
        margin: 100px 20px 20px;

        .icon {
            border: 1.3pt solid #bfc7c6;
            color: #bfc7c6;
            background: @colorWhite;
            font-size: 16px;
            padding: 10px 8px 8px 7px;
            border-radius: 30px;
        }
    }

    &.btnLg {
        font-size: 18px;
        padding: 7px 25px;
    }

    &.btnSmall {
        font-size: 14px !important;
        padding: 7px 10px !important;
    }

    &.btnMini {
        padding: 3px 10px !important;
        font-size: 13px !important;
        height: 33px !important;

        .icon {
            top: 16% !important;
        }
    }

    &.btnIconRight {
        padding-right: 45px;
        padding-left: 25px;
        text-align: left;

        .icon {
            position: absolute;
            right: 10px;
            // top: 10px;
        }
    }

    &.btnCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.btnIconLeft {
        padding-right: 25px;
        padding-left: 40px !important;
        text-align: right;

        .icon {
            position: absolute;
            left: 10px;
            // top: 10px;
        }
    }

    &.btnIcon {
        background: transparent;
        font-size: 18px;
        padding: 5px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .icon-loading {
        -webkit-animation: 2s rotate linear infinite;
        animation: 2s rotate linear infinite;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        left: 7px !important;
        width: 20px;
        height: 20px;
        font-size: 20px;
        top: 22%;
        display: flex;
        align-items: center;

        &::before {
            margin-left: 0px;
            margin-right: 0.18em;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.btnLinkUnderline {
    background: transparent;
    border-color: transparent;
    text-decoration: underline !important;

    &:hover {
        text-decoration: underline !important;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

input[type="text"],
input[type="password"] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

:-moz-placeholder {
    color: @colorPlaceholder;
    .fontRegular();
}

::-webkit-input-placeholder {
    color: @colorPlaceholder;
    .fontRegular();
}

::-moz-placeholder {
    color: @colorPlaceholder;
    .fontRegular();
}

:-ms-input-placeholder {
    color: @colorPlaceholder;
    .fontRegular();
}

::-webkit-scrollbar {
    display: none;
}

.scrollBar::-webkit-scrollbar {
    display: inline-block !important;
    width: 8px;
    background-color: #e3e4ea;
    border-radius: 10px;
    overflow-y: auto;
}

.scrollBar::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c3c4d4;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.scrollBar::-webkit-scrollbar-thumb:window-inactive {
    background: #c3c4d4;
}

textarea:focus,
input:focus,
*:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: yellow !important;
}

input:-webkit-autofill {
    -webkit-appearance: menulist-button;
    background-color: yellow !important;
}

a,
input,
button {
    text-decoration: none !important;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
    transition: all 5000s ease-in-out 0s;
}

.boxShadow() {
    // box-shadow: 0 1px 4px 0 rgba(167, 167, 177, 0.86);
    // box-shadow: 0 1px 4px 0 rgba(208, 208, 208, 0.86);

    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: @borderRadiusForm;
}

.boxShadowDark() {
    box-shadow: 0 1px 11px 0 rgba(131, 131, 140, 0.86);
}

.transition(@x) {
    transition: all ease @x;
}

.widthAvailable() {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.heightAvailable() {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}

.divisor {
    width: 100%;
    display: flex;

    .linea {
        width: 45%;
        border-top: 1px solid #e6e1e1;
        margin-top: 10px;
    }

    .centro {
        text-align: center;
        color: #ccc;
        width: 10%;
    }
}

.loading {
    width: 48px;
    height: 48px;
    left: 50%;
    top: 16%;
    margin-left: -17px;
    opacity: 1;
    position: absolute;
    background: url(../img/loading.svg) no-repeat center center;
    background-size: contain;
    z-index: 100;
    transition: all ease 0.2s;

    &.off {
        .transition(0.2s);
        opacity: 0;
        top: -2260px;
        position: absolute;
    }

    &.txt {
        span {
            color: @colorWhite;
            position: absolute;
            top: 40px;
            left: -8px;
            color: @colorText;
        }
    }

    &.loading-fluid {
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: rgba(21, 21, 21, 0.65);
        left: 0;
        top: 0;
        background-size: 50px;
        margin-left: 0px;
    }
}

/* Alert */

@datesShadow: 0 0 7px 2px;

.alert {
    border: none;
    padding: 15px 20px;
    color: @colorWhite;
    font-size: 110%;
    line-height: 145%;
    display: flex;

    >a {
        color: @colorWhite;
    }
}

.alertDanger {
    background-color: @alertDanger;
    border-radius: @borderRadiusForm;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(151, 102, 38, 0.25);
}

.alertSuccess {
    background-color: @alertSuccess;
    border-radius: @borderRadiusForm;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(151, 102, 38, 0.25);
}

&.alertWarning {
    background: @alertWarning;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(151, 102, 38, 0.25);
}

&.alertInfo {
    background: @alertInfo;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(55, 132, 152, 0.25);
}

.card {
    border: none;
    padding: 15px 20px;
    color: @colorWhite;
    font-size: 110%;
    line-height: 145%;
    display: flex;

    >a {
        color: @colorWhite;
    }

    &.cardDangerSoft {
        background-color: @cardDanger;
        border-radius: @borderRadiusForm;
        color: @colorWhite;
    }

    &.cardSuccessSoft {
        background-color: @cardSuccess;
        border-radius: @borderRadiusForm;
        color: @colorWhite;
    }

    &.cardWarningSoft {
        background: @cardWarning;
        color: @colorWhite;
    }

    &.cardInfoSoft {
        background: @cardInfo;
        color: @colorWhite;
    }
}

.comment {
    padding: 10px 20px;

    &.commentWarning {
        border-radius: 7px;
        background: #f5d2a0;
        box-shadow: none;
        border: 1px solid #e8b261;
        color: #844e16;
    }
}

.boxAlert {
    position: fixed;
    margin: 0px;
    z-index: 2000;
    width: 35%;
    height: auto;
    // min-height: 48px;
    display: block;

    &.bottom-left {
        bottom: 20px;
        right: 20px;
    }

    &.top-left {
        top: 50px;
        right: 20px;
    }

    .m-alert {
        position: relative;
        margin: 0px 0px 6px 0px;
        z-index: 200;
        width: 100%;
        height: auto;
        min-height: 48px;
        display: flex;
        border-radius: 5px;
        padding-bottom: 10px;
        @x1: "0 0 7px 2px";
        box-shadow: @x1 rgba(86, 118, 154, 0.25);

        // &.m-alert-num-1 {
        //     top: 130px;
        // }

        &.bottom-left {
            bottom: 20px;
            right: 20px;
        }

        &.top-left {
            top: 70px;
            right: 20px;
        }

        &.m-alert-success {
            background: @alertSuccess;
            color: @colorWhite;
            box-shadow: @x1 rgba(86, 118, 154, 0.25);
        }

        &.m-alert-warning {
            background: @alertWarning;
            color: @colorWhite;
            box-shadow: @x1 rgba(151, 102, 38, 0.25);
        }

        &.m-alert-danger {
            background: @alertDanger;
            color: @colorWhite;
            box-shadow: @x1 rgba(150, 27, 27, 0.25);
        }

        &.m-alert-info {
            background: @alertInfo;
            color: @colorWhite;
            box-shadow: @x1 rgba(55, 132, 152, 0.25);
        }

        .icon {
            font-size: 21px;
            margin: 10px 0px 0px 8px;
            display: inline-block;
        }

        .text {
            float: left;
            width: 80%;
            margin-top: 16px;
            margin-left: 5px;
        }
    }
}

.rotation() {
    animation: rotation 3s infinite alternate;
}

.loadingPageModule {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: @colorWhite;

    .loadingBar {
        width: 0;
        height: 5px;
        background-color: @colorLoadingBar;
    }
}

.iconSprite {
    background: url(../img/sprite.png);
}

@keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}