@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

@wSidebar: 380px;
@timeSidebar: 0.1s;
@hMenuTop: 45px;
@colorMenu : rgba(6, 22, 91, 1);

nav {
    .widthAvailable();
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    transition: all ease 0.2s;
    padding-left: @paddingSite;
    padding-right: @paddingSite;

    &.on {
        //box-shadow: 2px 2px 10px rgba(82, 81, 82, 30%);
        background: rgba(0, 0, 0, 0.73);
        transition: all ease .2s;

        .brand {

            width: 180px;
            margin-bottom: 10px;

        }


    }

    .brand {
        display: flex;
        width: 350px;
        margin-top: 7px;

        img {
            width: 100%;
        }
    }

    .navTop {

        display: flex;
        align-items: center;
        gap: 15px;
        padding-right: 65px;




        .socials {
            a {
                min-width: 34px;
                margin-right: 10px;
                opacity: 0.7;
                font-size: 16px;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }


}


.btnMenuGeneral {
    color: @colorMenuTopBtn;

    display: block;
    width: 34px;
    height: 26px;
    transition: all ease .3s;
    z-index: 1020;
    position: fixed;
    top: 43px !important;
    right: 35px;

    &.move {
        transition: all ease .3s !important;
      
    top: 23px !important;

    
    }

    &.on {


        .lineal {
            width: 100%;
            height: 2px;
            background-color: @colorMenuTopBtn;
            transition: all ease .3s;

            &.top {
                top: 12px;
                transform: rotate(45deg);
                transition: all ease .3s;
            }

            &.medium {
                opacity: 0;
                transition: all ease .3s;
            }

            &.bottom {
                bottom: 12px;
                transform: rotate(-45deg);
                transition: all ease .3s;
            }
        }
    }

    .lineal {
        width: 100%;
        height: 2px;
        background-color: @colorMenuTopBtn;
        transition: all ease .3s;
        position: relative;

        &.top {
            top: 0;
            position: absolute;
            transform: rotate(0deg);
            transition: all ease .3s;
        }

        &.medium {
            top: 12px;
            position: absolute;
            transition: all ease .3s;
        }

        &.bottom {
            bottom: 0;
            position: absolute;
            transform: rotate(0deg);
            transition: all ease .3s;
        }
    }
}

.navInner {
    .widthAvailable();
    z-index: 0;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .8);
    padding-left: @paddingSite;
    padding-right: @paddingSite;
    opacity: 0;

    &.on {
        opacity: 1;
        z-index: 1001;
    }

    .navInnerContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 50px;
        top: 200px;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;

        a {
            color: @colorWhite;
            .fontRegular();
        }
    }
}