@import (reference) "index.less";
@import (reference) "color.less";
@import (reference) "font.less";

.pub-slider {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    // margin-top: 45px;
    z-index: 0;
    padding: 0;


    .slidesjs-container,
    .slidesjs-control {
        width: 100% !important;
        height: 100% !important;
    }

    .slidesjs-control {
        width: 100% !important;
        height: 100% !important;
    }

    .slidesjs-pagination {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -40px;
        z-index: 100;
        gap: 20px;

        .slidesjs-pagination-item {
            a {
                width: 12px;
                height: 12px;
                display: flex;
                border-radius: 50px;
                background-color: #fff;
                font-size: 0px;
                opacity: .2;

                &.active {
                    opacity: .7;
                }
            }
        }
    }

    .slidesjs-navigation {
        position: absolute;
        z-index: 100;
        top: 38%;
        font-size: 44px;
        color: white;

        .arrow {
            width: 42px;
            height: 42px;
            //background: url(../img/arrow.svg) no-repeat;
            // border: 1px solid red;
            display: flex;
            /* align-items: center; */
            background-position: center;

            &.arrow-right {
                transform: rotate(180deg);
            }
        }

        &.slidesjs-previous {
            left: 10px;
        }

        &.slidesjs-next {
            right: 10px;
        }
    }

    .slides {
        height: 100%;
        min-height: 100%;

        .item {
            height: 100%;
            display: grid;

            .text {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .container {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .title {
                    color: @colorWhite;
                    font-size: 21px;

                    .fontRegular();
                }

                .textSlider {
                    width: 70%;
                    //margin-left: 7%;

                    .title {
                        .fontBlack();
                        color: @colorWhite;
                        font-size: 85px;
                        line-height: 90px;
                    }

                    .subtitle {
                        width: 60%;
                        .fontLight();
                        color: @colorWhite;
                        font-size: 24px;
                        line-height: 32px;
                    }

                    .btn {
                        max-width: 150px;
                        margin-top: 15px;
                        color: @colorWhite;

                        .icon {
                            margin-left: 5px;
                        }
                    }
                }
            }

            .video {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 3000;
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0, 95%);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all ease .3s;
                opacity: 0;
                pointer-events: none;

                &.on {
                    opacity: 1;
                    transition: all ease .3s;
                    pointer-events: auto;
                }



                iframe {
                    width: 80%;
                    height: 90%;
                }
            }

            .img {
                background-size: auto 101% !important;
                z-index: 0;
                background-repeat: no-repeat !important;
                transition: all ease .5s;
                display: inline-block;
                width: 100%;
                height: 100%;

                &.on {
                    background-size: auto 105% !important;
                    transition: all ease .5s;
                }
            }

            .bgItem {
                background: rgba(0, 0, 0, 0.20);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }
}

@media (max-width: 1920px) {
    .slides {
        .item {
            .text {
                .container {
                    .textSlider {
                        .title {
                            font-size: 90px;
                            line-height: 95px;
                        }

                        .subtitle {
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {}

@media (max-width: 1280px) {
    .slides {
        .item {
            .text {
                .container {
                    .textSlider {
                        .title {
                            font-size: 75px;
                            line-height: 80px;
                        }

                        .subtitle {
                            font-size: 18px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 470px) {
    .pub-slider {
        min-height: 40vh;
        .slides {

        .item{
            .text{
                text-align: center;
                font-size: 15px;
            }
        }
        }
        .slidesjs-pagination{
            left: 45%;
        }
    }
   
}