<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content"
    style="background: url({{_PATH_FILES}}files/slides/back-1-guaraniV2.jpg)">
    <div class="pub-inner">
        <div class="titleSection">{{_TITLE}}</div>
        <div class="summarySection">
            {{_SUMMARY}}
        </div>
        <div class="bodySection">
            {{_BODY}}
        </div>
    </div>
</div>