<div class="pub-activation">
    <div class="navPage">
        <a class="navLogo" href="{{_PATH_WEB}}">
            <img src="{{_PATH_WEB}}sites/default/assets/img/logo.svg" alt="">
        </a>
    </div>
    <div class="boxInner">
        <form class="form">
            <label for=""><h2>Activando tu cuenta en Farmaline</h2></label>
            <div class="formControl formCheckOk">
                <label class="noMargin">
                    <b>Añade un Password para tu cuenta: </b>
                </label>
                <span class="reference">Los password fuertes son mayores a 6 digitos, incluyen números, letras y signos.</span>
                <input type="password" class="formInput" id="inputPassword" autofocus placeholder="">
                <div class="message " id="menssagePassword"></div>
            </div>
            <div class="formControl formCheckOk">
                <label for="">Confirmación de Password:</label>
                <input type="password" autocomplete="nones" class="formInput" id="inputPasswordConfirm" placeholder="">
                <div class="message " id="menssagePasswordConfirm"></div>
            </div>
            <div class="formControl">
                <div class="checkboxControl checkboxControlSmall">
                    <input type="checkbox" class="" name="AP" id="AP" checked>
                    <div class="checkboxControlLabel"> Acepto el <a class=" {{_PATH_WEB}} "> Acuerdo de confidencialidad y terminos de uso</a> </div>
                </div>
            </div>
            <div class="formControl ">
                <a class="btn btnLg btnCenter btnSuccess btnEnter disabled " action="activateAccount"><span>Activar Cuenta</span></a>
            </div>
        </form>
    </div>
</div>