<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content">
    <div class="container">
        <h1 class="titleSection">{{_TITLE}}</h1>
        <h3 class="summarySection">
            {{_SUMMARY}}
        </h3>
    </div>
    <div class="bg"></div>
    <div class="img" style="background:url({{_PATH_URL_IMG}}) center center"></div>
</div>