<div class="pub pub-cart">
    <div class="container">
        <div class="breadcrumbs">
            <i class="icon icon-chevron-right"></i>
            <a class="btnLinkHome" id="">
                <span>Portada</span>
            </a>
            <span
                ><i class="icon icon-point"></i>
                <a class="btnCartPage">Carrito de Compras</a></span
            >
            <span><i class="icon icon-point"></i> CheckOut de Compra </span>
        </div>
    </div>
    <div class="head">
        <div class="container">
            <div class="pullleft">
                <div class="title">
                    <i class="icon icon-cart"></i>
                    <div class="text">
                        <h1>Carrito de Compras</h1>
                        <span
                            >Ingresa los datos al formulario para gestionar tu
                            pedido:</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="pullLeft">
                <div class="inner">
                    <div class="form formDates">
                        <label for="">Datos de Entrega</label>
                        <div class="box boxAccount active">{{_ACCOUNT}}</div>
                        <div class="box boxAddress active">{{_ADDRESS}}</div>
                        <div class="box formControl">
                            <input
                                type="input"
                                class="formInput"
                                id="detailsDelivery"
                                placeholder="Detalles para la Entrega: Por Ejempo, entregar en porteria"
                            />
                        </div>
                        <div class="box formControl form70w">
                            <input
                                type="input"
                                class="formInput"
                                id="inputCelularCheckOut"
                                placeholder="Ingresa tu Celular para gestionar el delivery"
                                value=""
                            />
                            <div
                                class="menssageCelularCheckOut"
                                lang="es"
                            ></div>
                        </div>
                    </div>
                    <div class="form formInvoice">
                        <label for="">Datos de Facturación</label>
                        <div class="box boxInvoice">{{_INVOICE}}</div>
                    </div>
                    <div class="form formPay">
                        <label for="">Metodos de Pago</label>
                        <div class="box boxPay">{{_PAY}}</div>
                    </div>
                    <div class="form formDelivery">
                        <label for="">Fecha de Entrega</label>
                        <div class="box boxDateDelivery">
                            {{_DATE_DELIVERY}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="pullRight {{_FORM_TOTAL}}">
                <div class="form formTotal">
                    <div class="detail detailTotalOrder">
                        <label for=""><b>Total de la Orden</b></label>
                        <span class="value" id="totalOrderCheckOut"
                            >{{_TOTAL_ORDER}}</span
                        >
                    </div>
                    <div class="detail detailDelivery">
                        <label for=""><b>Costo del Delivery</b></label>
                        <span class="value" id="deliveryCostValue"></span>
                    </div>
                    <div class="order">
                        <label for="">TOTAL</label>
                        <span class="value" id="totalCart">{{_TOTAL}}</span>
                    </div>
                </div>
                <div class="form formCheckOut">
                    <a class="btn btnSuccess btnIconLeft btnPurchase disabled">
                        <i class="icon icon-lock"></i>
                        <span>Confirmar Compra</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
