<div class="pub pub-cart">
    <div class="container">
        <div class="breadcrumbs">
            <i class="icon icon-chevron-right"></i>
            <a class="btnLinkHome" id="">
                <span>Portada</span>
            </a>
            <span><i class="icon icon-point"></i> Carrito de Compras</span>
        </div>
    </div>
    <div class="head">
        <div class="container">
            <div class="pullleft">
                <div class="title">
                    <i class="icon icon-cart"></i>
                    <div class="text">
                        <h1 lang="es">Carrito de Compras - Pago</h1>
                        <span lang="es"
                            >Revisa tu pedido para gestionar el pago:</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body container pay">
        {{_BODY}}
    </div>
</div>
