<div class="pub pub-cart">
    <div class="container">
        <div class="breadcrumbs">
            <i class="icon icon-chevron-right"></i>
            <a class="btnLinkHome" id="">
                <span>Portada</span>
            </a>
            <span><i class="icon icon-point"></i> Carrito de Compras</span>
        </div>
    </div>
    <div class="head">
        <div class="container">
            <div class="pullleft">
                <div class="title">
                    <i class="icon icon-cart"></i>
                    <div class="text">
                        <h1>Carrito de Compras</h1>
                        <span>Revisa tu pedido para gestionar tu compra:</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="pullLeft">{{_ITEMS}}</div>
            <div class="pullRight {{_FORM_TOTAL}}">
                <div class="form formTotal">
                    <div class="detail">
                        <label for=""><b>Total de la Orden</b></label>
                        <span class="value">{{_TOTAL_ORDER}}</span>
                    </div>
                    <div class="order">
                        <label for="">TOTAL</label>
                        <span class="value">{{_TOTAL}}</span>
                    </div>
                </div>
                <div class="form formCheckOut">
                    <a class="btn btnIconRight btnCheckOut"
                        ><span>Pasar por Caja</span>
                        <i class="icon icon-arrow-line-right"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</div>
