<div class="pub pub-cart">
    <div class="container">
        <div class="breadcrumbs">
            <i class="icon icon-chevron-right"></i>
            <a class="btnLinkHome" id="">
                <span>Portada</span>
            </a>
            <span><i class="icon icon-point"></i> Carrito de Compras</span>
        </div>
    </div>
    <div class="head">
        <div class="container">
            <div class="pullleft">
                <div class="title">
                    <i class="icon icon-cart"></i>
                    <div class="text">
                        <h1 lang="es">Carrito de Compras - Pago</h1>
                        <span lang="es"
                            >Revisa tu pedido para gestionar el pago:</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="pullLeft">
                {{_ITEMS}}
                <div class="listItems">
                    <label for="">Detalles de Entrega</label>
                    <div class="boxList addressDelivery">
                        <img
                            src="{{_PATH_WEB}}sites/default/assets/img/img-address.jpg"
                            alt=""
                        />
                        <div class="text">{{_ADDRESS}}</div>
                    </div>
                    <div class="boxList data">
                        <div class="box">
                            <label><strong>Tiempo estimado:</strong></label>
                            <i class="icon icon-clock"></i>
                            <span>{{_DATE_DELIVERY}}</span>
                        </div>
                        <div class="box">
                            <i class="icon icon-phone"></i>
                            <span class="celular">{{_CELULAR}}</span>
                        </div>
                    </div>
                    <div class="boxList data">
                        <div class="box">{{_INVOICE}}</div>
                    </div>
                    <div class="boxList data pay">
                        <div class="box">
                            <label><strong>Forma de Pago:</strong></label>
                            <span>{{_METHOD_PAY}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pullRight {{_FORM_TOTAL}}">
                <div class="form formTotal">
                    <div class="detail detailTotalOrder">
                        <label for=""><b>Total de la Orden</b></label>
                        <span class="value" id="totalOrderCheckOut"
                            >{{_TOTAL_ORDER}}</span
                        >
                    </div>
                    <div class="order">
                        <label for="">TOTAL</label>
                        <span class="value" id="totalCart">{{_TOTAL}}</span>
                    </div>
                </div>
                <div class="form formCheckOut">
                    <a
                        class="
                            btn
                            btnSuccess
                            btnIconLeft
                            btnCenter
                            btnPurchasePay
                        "
                    >
                        <span lang="es">Hacer Pedido</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
