<div class="pub pub-home pub-categoryList" id="{{_ID}}">
    <div class="container" id="products-container">
        <div class="head">
            <h1>{{_NAME}}</h1>
            <a class="btnCatogory" data-url="{{_LINK}}"><i class="icon  icon-chevron-right"></i></a>
        </div>
        <div class="tbody">
            <div class="inner">
                {{_ITEMS}}
            </div>
        </div>
    </div>
</div>