<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content">
    <div class="container">
        <div class="titleSection">{{_TITLE}}</div>
        <div class="summarySection">
            {{_SUMMARY}}
        </div>
        <div class="list {{_LIST_CLASS}}" id="{{_LIST_ID}}">
            {{_LIST}}
        </div>
    </div>
</div>