<div class="item item-{{_NUM_ITEM}}">
    <div class="img" style="background:url({{_IMG}})no-repeat center center"></div>
    <div class="text">
        <div class="title">
            <h2>{{_TITLE}}<h2> {{_MORE_TITLE}}
        </div>
        <div class="summary">{{_SUMMARY}}</div>
        <div class="body">{{_BODY}}</div>
        <div class="actions">
            <a class="btn btnFull btnContentItem btnIconRight" item="{{_ITEM}}" fn="{{_FN}}">
                <span>{{_BTN_TITLE}}</span>
                <i class="{{_BTN_ICON}}"></i>
            </a>
        </div>
    </div>

</div>