<a href="{{_URL}}" class="item block item-{{_ITEM}}" item="{{_ITEM}}">
    <div class="text">
        <h1 class="title">{{_TITLE}}</h1>
        {{_SUMMARY}}
    </div>
    <div class="bg"></div>
    <div class="img" style="background:url({{_PATH_URL_IMG}}) center center"></div>
</a>