<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content">
    <div class="pub-inner container">
        <div class="titleSection">{{_TITLE}}</div>
        <div class="summarySection">
            {{_SUMMARY}}
        </div>
        <div class="bodySection">
            {{_BODY}}
        </div>
    </div>
</div>