<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content" id="directores">
    <div class="pub-inner directorsLocals containers">
        <div class="titleSection">
            <img src="{{_PATH_WEB}}files/contents/directores-locales.svg" alt="">
        </div>
        <div class="bodySection container">
            {{_BODY_LOCALES}}
        </div>
    </div>
    <div class="pub-inner directorsExt containers">
        <div class="titleSection">
            <img src="{{_PATH_WEB}}files/contents/directores-ext.svg" alt="">
        </div>
        <div class="bodySection container">
            {{_BODY_EXT}}
        </div>
    </div>
</div>