<!-- pub {{_PUB_NAME2}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content"
    style="background: url({{_PATH_FILES}}sites/default/assets/img/bg_footer.jpg) no-repeat center center">
    <div class="pub-inner container">

        <div class="boxLeft">
            <img src="{{_PATH_WEB}}sites/default/assets/img/LogoCompletoGuaraniV3.svg" alt="CabrujaFilms">
        </div>
    <!-- 
        <div class="boxMiddle">
            <p>Av. Marcelo Terceros, Calle los Nogales #96 Barrio Sirari, Santa Cruz de la Sierra - Bolivia </p>
            <p><b>Llámanos</b><br>
                +591 3 3454229 / +591 721-21870 / +591 726-14221
            </p>
            <p><b>Email</b><br>
                jl@cabrujafilms.com
            </p>
            {{_SOCIAL}}
        </div>
       
         

            <div class="boxRight">
            <img src="{{_PATH_WEB}}sites/default/assets/img/contactenos.svg" alt="CabrujaFilms">
            </div> 

    -->

        <div style="color: white; font-size: 12px">

            <p>
                <b>Dirección:</b> <br><br> Dr. Mora Nro. 690 c/Lillo. <br> Teléfono: 595 981 210 194
            </p>

        </div>

        <div style="color: white; font-size: 12px;">
        
            <div >

                    <p><b>Contactos:</b></p><br>
            
                    <p>
                        <b>Gutavo Vera</b> <br>
                        Ceo - Productor Ejecutivo Senior <br> +595 981 210 194 <br> gusvera@guaranifilms.com 
                    </p>
                    <br>
                    <p>
                        <b>Noelia Romero</b> <br> 
                        Jefa de produccion <br> +595 971 954 000 <br> romeronoelia@gmail.com 
                    </p>
                    <br>
                    <p>
                        <b>Lara Pombo</b><br>
                        Productora Ejecutiva <br> +595 982 564 622 <br> lara@guaranifilms.com 
                    </p>
        
            </div>
        
        </div>

    </div>
</div>

<!--

    <div>

            <p><b>Contactos</b></p><br>
    
            <div>
    
                <div>
                    <p><b>GUSTAVO VERA</b></p>
                    <p>
                        Ceo - Productor Ejecutivo Senior
                        +595 981 210 194
                        gusvera@guaranifilms.com
                    </p>
                </div>
        
                <div>
                    <br><p><b>NOELIA ROMERO</b></p>
                    <p>
                        Jefa de produccion
                        +595 971 954 000
                        romeronoelia@gmail.com
                    </p>
                </div>
                
                <div>
                    <br><p><b>LARA POMBO</b></p>
                    <p>
                        Productora Ejecutiva
                        +595 982 564 622
                        lara@guaranifilms.com
                    </p>
                </div>
    
            </div>
    
        </div>

-->