<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content">
    <div class="titleSection" lang="es">
        <h2>¿QUIERES MÁS INFORMACIÓN?</h2>
    </div>
    <div class="summarySection">
        Descubra información adicional sobre : <b>{{_TITLE}}</b>
    </div>
    <div class="bodySection">
        <form class="form">
            aqui formulario
        </form>
    </div>
</div>