<!DOCTYPE html>
<!-- Si te gusta programar este sitio esta desarrollado en Nucleo Framework open sourse  https://gitlab.com/wappcom/nucleo.3/ @Wappcom @hermany -->
<html id="index" lang="es">

<head>
    <title>{{title}}</title>

    <link rel="shortcut icon" href="{{urlFavicon}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->

    <!-- Styles Externos -->
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/animate.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">


    <link href="https://wappcom.com/proy/font/font-brave/src/style.css" rel="stylesheet" />

    <!-- Styles Propios -->
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/dist/index.css?{{_VS}}" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/dist/font.css?{{_VS}}" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/dist/nav.css?{{_VS}}" />

    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/dist/default.css?{{_VS}}" />

    <!-- Script  Externos -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.slides.min.js"></script>

    <script type="text/javascript" language="javascript">
        const _PATH_WEB = "{{_PATH_WEB}}"
        const _PATH_WEB_NUCLEO = "{{_PATH_WEB_NUCLEO}}"
        const _PATH_FILES = "{{_PATH_FILES}}"
        const _PATH_BRAND = "{{_PATH_BRAND}}"
        const _PATH_DASHBOARD = "{{_PATH_DASHBOARD}}"
        const _PATH_FAVICON_APP = "{{_PATH_FAVICON_APP}}"
        const _BEARER_TOKEN = "{{_BEARER_TOKEN}}"
        const _CLIENT_ID = "{{_CLIENT_ID}}"
        const _CLIENT_SECRET = "{{_CLIENT_SECRET}}"
        const _COIN_DEFAULT = "{{_COIN_DEFAULT}}"
        const _PATH_PAGE = "{{_PATH_PAGE}}"
        const _ID_ENTITIE = "{{_ID_ENTITIE}}"
        var _VS = "{{_VS}}"
        var userData = ""
        var displayLoadingBar = ""
    </script>

    <!--<script type="text/javascript" language="javascript" src="{{_PATH_MODULE}}components/dashboard.js?{{_VS}}"></script>-->

    <script type="module" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/index.js?{{_VS}}">
    </script>
    <!-- <script type="text/javascript" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/render.js?{{_VS}}"></script>
        <script type="text/javascript" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/cart.js?{{_VS}}"></script>
        <script type="text/javascript" type="module" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/nav.js?{{_VS}}"></script> -->

    {{_META}}
</head>