<!DOCTYPE html>
<!-- Si te gusta programar este sitio esta desarrollado en Nucleo Framework open sourse  https://gitlab.com/wappcom/nucleo.3/ @Wappcom @hermany -->
<html id="index" lang="es">

<head>

    <title>{{title}}</title>

    <link rel="shortcut icon" href="{{urlFavicon}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Styles Externos -->
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/form.css" />
    <!--<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700&display=swap" rel="stylesheet">-->
    <link href="https://www.wappcom.com/proy/font/font-brave/src/css/font-brave.css" rel="stylesheet">


    <!-- Styles Propios -->
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/index.css?{{_VS}}">
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/font.css?{{_VS}}">
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/nav.css?{{_VS}}">
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}{{_PATH_DASHBOARD}}assets/css/default.css?{{_VS}}">



    <!-- Script  Externos -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script type="text/javascript" language="javascript">
        const _PATH_WEB = "{{_PATH_WEB}}";
        const _PATH_WEB_NUCLEO = "{{_PATH_WEB_NUCLEO}}";
        const _BEARER_TOKEN = "{{_BEARER_TOKEN}}";
        const _CLIENT_ID = "{{_CLIENT_ID}}";
        const _CLIENT_SECRET = "{{_CLIENT_SECRET}}";
        const _PATH_PAGE = "{{_PATH_PAGE}}";
        const _ID_ENTITIE = "{{_ID_ENTITIE}}";
        var _VS = "{{_VS}}";
    </script>

    <script type="text/javascript" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/render.js?{{_VS}}"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/index.js?{{_VS}}"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB}}{{_PATH_DASHBOARD}}components/nav.js?{{_VS}}"></script>

    {{_META}}

</head>