<div class="item itemProduct" item="{{_ITEM}}" path-img="{{_PATH_FILE}}" typemoney="{{_TYPE_MONEY}}" price="{{_ITEM_PRICE}}" id="btnProducto{{_ITEM}}">
    <div class="inner">
        <a class="img btnProductItem" style="background:url({{_IMAGEN}}) no-repeat center center " path-url="{{_ITEM_URL}}"></a>
        <a class=" text btnProductItem" path-url="{{_ITEM_URL}}">
            <div class="precio ">{{_PRICE}}</div>
            <h3 for=" ">{{_NAME}}</h3>
        </a>
        <div class="add ">
            <label for=" ">Adición rapida al carrito de compras</label>
            <div class="innerAdd">
                <a class="item btnItemMinus" typebtn="general" item="{{_ITEM}}"><i class="icon icon-circle-minus "></i></a>
                <input type="text " id="inputProduct{{_ITEM}}" value="0" />
                <a class="item btnItemPlus " typebtn="general" item="{{_ITEM}}"><i class="icon icon-circle-plus "></i></a>
            </div>
        </div>
    </div>
</div>