<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content">
    <div class="container">
        <a class="link link-{{_ITEM}} {{_LINK_CLASS}}" {{_HREF}} item="{{_ITEM}}">
            <img src="{{_URL_FILE}}" alt="" />
        </a>
    </div>
</div>