<div class="pub pub-home {{_PUB_CLASS}}" id="{{_ID}}">
    <div class="container">
        <div class="head">
            <h1>{{_NAME}}</h1>
        </div>
        <div class="tbody">
            <div class="inner">
                {{_ITEMS}}
            </div>
        </div>
    </div>
</div>