<nav>
    <div class="navTop">
        <div class="socials">
            <a href="#" class="btnSocial"><i class="icon icon-facebook"></i></a>
            <a href="#" class="btnSocial"><i class="icon icon-whatsapp"></i></a>
            <a href="#" class="btnSocial"
                ><i class="icon icon-youtube-play"></i
            ></a>
            <a href="#" class="btnSocial"
                ><i class="icon icon-instagram"></i
            ></a>
            <a href="#" class="btnSocial"><i class="icon icon-linkedin"></i></a>
            <a href="#" class="btnSocial"><i class="icon icon-twitter"></i></a>
            <a href="#" class="btnSocial"><i class="icon icon-tiktok"></i></a>
        </div>
        <div class="navTopMenu">
            <a href="#" class="btnNavTopMenu"><span>Padres Y Familia</span></a>
            <a href="#" class="btnNavTopMenu"><span>Campus Virtual</span></a>
            <a href="#" class="btnNavTopMenu"><span>Alumnos</span></a>
            <a href="#" class="btnNavTopMenu"><span>Intranet</span></a>
            <a href="#" class="btnNavTopMenu"><span>Contácto</span></a>
            <a href="#" class="btnNavTopMenu"><span>En</span></a>
        </div>
    </div>
    jnbjnjn
    <div class="navInner">
        <a class="navLogo btnRoot" pathurl="{{_PATH_WEB}}">
            <img src="{{_PATH_WEB}}sites/default/assets/img/logo-guaraniFilms.svg" alt="" />
        </a>
        <a class="navLogo-w btnRoot" pathurl="{{_PATH_WEB}}">
            <img
            src="{{_PATH_WEB}}sites/default/assets/img/logo-guaraniFilms.svg" 
                alt=""
            />
        </a>

        <div class="navRigth">
            {{_MENUNAV}} <a><i class="icon icon-search"></i></a>
        </div>
    </div>
</nav>
