<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content">
    <div class="pub-inner">
        <div class="titleSection container">{{_TITLE}}</div>

        <div class="bodySection">
            <a target="_blank" class="btnPartner" href="https://vimeo.com/guarani">

                <img class="mark" src="{{_PATH_FILES}}files/contents/logo-cabruja.svg" alt="">
                <img class="flag" src="{{_PATH_FILES}}files/contents/b-boliviaV3.svg" alt="" >

            </a>
            <a target="_blank" class="btnPartner" href="https://notnormalfilms.com/">

                <img class="mark" src="{{_PATH_FILES}}files/contents/notnormal.svg" alt="">
                <img class="flag" src="{{_PATH_FILES}}files/contents/b-usa.svg" alt="">

            </a>
            <a target="_blank" class="btnPartner btnRatio" href="https://vimeo.com/ratiovfx">

                <img class="mark" src="{{_PATH_FILES}}files/contents/ratio.svg" alt="">
                <img class="flag" src="{{_PATH_FILES}}files/contents/b-argentina.svg" alt="">

            </a>
        </div>
    </div>
</div>