<div class="pub pub-home pub-pp" id="{{_ID}}">
    <div class="container">
        <div class="head">
            <h1>Politicas de Privacidad</h1>
            <a class="btnCatogory" data-url="{{_LINK}}"><i class="icon  icon-chevron-right"></i></a>
        </div>
        <div class="tbody">
            <div class="inner">
                FARMALINE - POLITICAS Y CONDICIONES DE SERVICIO 1. CONDICIONES GENERALES DE COMPRA Antes de realizar su compra, por favor lea estas Condiciones Generales de Compra online de nuestra empresa FARMALINE. Por favor, lea estas Condiciones Generales de Compra
                de nuestra empresa FARMALINE, antes de realizar sus compras. La utilización por parte del cliente de los servicios de la tienda online de FARMALINE presupone, en todo caso, la aceptación y conformidad con las Condiciones Generales de Compra,
                dada a conocer al momento mismo de la orden de compra. Por ello, es importante que usted lea estas Condiciones Generales antes de proceder a realizar una compra. 1.2. Descripción FARMALINE a través de las presentes Condiciones Generales
                de Compra ofrece a sus usuarios y visitantes la posibilidad de realizar la compra on-line de los productos de farmacia, parafarmacia, herbolario, óptica, ortopedia, cosmética, belleza, higiene, entre otros productos; además de establecer
                comunicación con el usuario. 1.3. Aceptación de las condiciones especiales de compra El acceso y la utilización de nuestro servicio online implica por parte del Visitante y/o por el Usuario Registrado la aceptación plena y sin reservas
                de todas las condiciones recogidas en las presentes Condiciones Generales de Compra. Las presentes Condiciones Generales de Compra se aplican a la venta de todos los artículos que FARMALINE vende a través de sus canales digitales, dirigiéndose
                exclusivamente a un público mayor de 18 años. FARMALINE se reserva el derecho a cancelar la cuenta de acceso de un cliente si se detectan actos fraudulentos, especulativos o de mala fe en la utilización de este servicio. 1.4. Responsabilidad
                del Cliente El cliente se obliga a realizar un uso lícito de los Servicios, sin contravenir la legislación vigente, ni lesionar los derechos e intereses de terceras personas. El cliente garantiza la veracidad y exactitud de los datos facilitados
                al cumplimentar los formularios de registro y contratación, evitando causar perjuicios a FARMALINE como consecuencia de la incorrección de los mismos. Asimismo, se compromete a posibilitar la entrega del pedido solicitado facilitando una
                dirección de entrega en la que pueda ser recibido el pedido solicitado dentro del horario habitual de entrega de mercancías (de lunes a viernes de 09:00 a 14:00 y de 16:00 a 19:00). El incumplimiento de cualquiera de estas Condiciones
                Generales de la Compra podrá dar lugar a la anulación o cancelación de los pedidos por parte de FARMALINE sin necesidad de preaviso al cliente y sin que ello suponga un derecho a indemnización alguna. En caso de ser rechazado el envío
                por el cliente sin justa causa, FARMALINE no reembolsará el importe de los gastos del envío, siendo asumidos por el cliente. 2. PROCESO DE COMPRA Para poder comprar en FARMALINE es necesario llenar el formulario de registro, donde solicitaremos
                una serie de datos, incluidos datos de carácter personal, como son los Datos de Contacto, Datos de Dirección de Entrega, Forma de Envío, Forma de Pago, además de aceptar las presentes Condiciones Generales de Compra de manera expresa antes
                de procesar el pedido. Una vez generada la cuenta, te enviaremos un correo electrónico a la dirección email facilitada con un código de confirmación para tu primera compra. Todas las comunicaciones sobre nuestros servicios se enviarán
                a dicha dirección. 2.1. Disponibilidad de los productos La selección de productos ofrecidos a través de nuestra tienda on-line, es válida en tanto que los productos estén visibles, con los límites de stock disponibles. Al tratarse de comercio
                electrónico, el stock se actualiza online, por lo que podría suceder, eventualmente, que durante el proceso de compra se agote el stock, no pudiéndose concretar la compra, por tanto, en estos supuestos, continuar con la compraventa iniciada.
                En el caso de que existiera alguna rotura de stock o indisponibilidad puntual de un artículo, FARMALINE se pondrá en contacto con el Cliente para comunicárselo lo antes posible y darle un nuevo plazo de entrega o, si no fuera posible servirle
                dicho producto, proceder a su anulación o bien ofrecer cambio por otro producto de característica y precio similar. En cualquier caso, un retraso en la entrega respecto a los plazos indicados no dará derecho al Cliente a exigir indemnización
                alguna. 2.2. Transporte y Gastos de envío FARMALINE respecto a los gastos de envío y/o entrega ofrece a sus clientes las siguientes tarifas, en función de la dirección de envío:  Dentro del 4to. Anillo el costo de envío es de Bs. 10.-
                 Hasta el 10mo. Anillo el costo de envío es de Bs. 15.-  Las compras mayores a Bs. 300.- tienen un envío gratuito. El importe del transporte aparecerá detallado antes de finalizar el pedido. En cuanto al plazo de envío este será de …horas,
                a computarse sobre días laborables -de lunes a viernes- puesto que FARMALINE no realiza expediciones en festivos, sábados, ni domingos. FARMALINE no se hace responsable de ningún retraso en la entrega que sea originado por: a) Dirección
                incorrecta o incompleta. b) Indicar un número de teléfono de contacto incorrecto. c) Protestas o paros cívicos que no permitan la circulación. d) Condiciones climatológicas adversas. e) Otras causas de fuerza mayor. Si el Cliente no aprecia
                roturas externas en el paquete a la hora de recibirlo, pero al abrirlo observa desperfectos a causa del transporte, debe notificarlo en menos de 24 horas a FARMALINE para verificar las condiciones del producto. En caso contrario se entenderá
                que el Producto ha sido aceptado de conformidad. 2.3. ¿Qué medios de pago puedo utilizar? El pago se realizará a la finalización del proceso de compra y será condición indispensable para la formalización del mismo. En cualquier caso, la
                elección del medio de pago se realiza durante el proceso de compra en la pantalla correspondiente. Admitimos los siguientes sistemas de pago:  Pago con tarjeta de crédito o débito.  Pago mediante transferencia bancaria o código QR. 
                Pago contra reembolso. Con recargo del 3% en el total de la compra y un mínimo de Bs. 20.- 3. POLÍTICA DE MODIFICACIONES, REEMPLAZO Y DEVOLUCIONES FARMALINE para prestar un mejor servicio de calidad y pensando en el cuidado de la salud
                de sus clientes permite realizar cambios y devoluciones de los productos en las condiciones descritas en este apartado. El Cliente podrá modificar un pedido siempre y cuando éste no haya sido expedido, para ello deberá notificarlo lo antes
                posible a través de soporte o atención al cliente, con indicación de las modificaciones deseadas. Cualquier diferencia de importe entre el pedido original y el modificado le será tramitada siguiendo el procedimiento correspondiente al
                medio de pago elegido. Si el Cliente cancela un pedido confirmado cuando el producto ya ha salido de las instalaciones de FARMALINE hacia el destino, o no acepta el paquete a la llegada, FARMALINE podrá exigir el pago de los costes de
                transporte ocasionados por la cancelación. 3.1. Sobre el reemplazo de productos La solicitud de reemplazo de productos procede cuando NO exista fallas o defectos de fabricación, clasificación, empaque, o por falta de identidad entre lo
                adquirido y lo recibido. Por su parte, FARMALINE no podrá sustituir sin previa consulta al Cliente, un producto solicitado por el Cliente. Si se diese el caso que por motivos ajenos a FARMALINE, el suministro del pedido no fuera posible,
                se le ofrecerá al Cliente la posibilidad de cambiarlo por un producto sustitutivo de similares características dando derecho a la anulación del pedido por parte del Cliente. 3.2. Sobre la devolución La solicitud de devolución de productos
                procede cuando se demuestre que existe fallas o defectos de fabricación, clasificación, empaque, transporte, o por falta de identidad entre lo adquirido y lo recibido Serán causas de devolución:  Que el producto no cumpla con las características
                de la ficha mostrada en nuestra página web. En este caso se reembolsará el importe del producto salvo los gastos de envío. Este reembolso se realizará al medio de pago utilizado por el cliente mediante reembolso.  Que el producto venga
                de origen defectuoso. En este caso se procederá al cambio por otro igual una vez se haya recibido el producto a devolver. En este caso FARMALINE se hará cargo de los portes de la devolución y del reenvío. 3.3. Condiciones para el cambio
                o devolución Para que opere el cambio de un producto éste debe cumplir las siguientes condiciones: Medicamentos y/o Productos:  Existencia de defectos en su empaque o su contenido al momento de la entrega.  Con fecha vencida al momento
                de la entrega al cliente.  Que exista alerta sanitaria sobre el producto por parte de la autoridad competente.  Cuando se hayan entregado en forma distinta de lo prescrito en la receta, o de lo especificado en el proceso de compra. 
                Deberá conservar todas sus insignias y etiquetas identificadoras colocadas sin que presenten signos de rotura o destrucción. Otros Productos de Consumo:  Productos de Belleza que se mantengan en caja y con sus sellos originales.  Productos
                de Cuidado Personal que estén en caja y con sellos originales.  Dispositivos Médicos que estén en caja y con sellos originales.  Electrodomésticos y electrónicos revisados y valorados por técnicos autorizados Los gastos del nuevo envío
                por cambio del producto no serán asumidos por FARMALINE. 3.4. Casos en lo que No se aceptan cambios ni devoluciones: FARMALINE se reserva el derecho a no aceptar cambios ni devoluciones en los casos que se detallan a continuación:  Medicamentos
                controlados y/o refrigerados.  Medicamentos que ya no le sirven al Cliente por cambio de tratamiento.  Medicamentos y/o Productos adquiridos en una cantidad mayor de la necesaria.  Medicamentos y/o productos en los que no existe defecto
                de fabricación.  Medicamentos y/o productos con daños ocasionados por el consumidor.  Medicamentos que le causen una reacción adversa, según lo indicado en su posología.  Medicamento y/o productos distintos al que necesitaba, salvo
                que exista un error de despacho.  Alimentos y bebidas.  Medicamento o producto consumidos de forma parcial. 3.5. Procedimiento para gestionar el cambio o devolución El cliente dispondrá de un plazo máximo de diez (10) días para realizar
                la solicitud de cambio de la mercadería adquirida, a computarse desde el momento de la recepción del producto. Para efectuar un cambio el producto deberá encontrarse en perfectas condiciones conforme se señaló en el punto de condiciones.
                El Cliente realizará su solicitud al Centro de Atención al Cliente al número …. Correo electrónico……., indicando el motivo y presentar al momento del cambio la factura de venta a nombre del cliente con el Medicamento o producto que cumpla
                con las condiciones para cambios y devoluciones. Al realizar el cambio o devolución FARMALINE, tiene previsto 3 opciones, a elección del cliente, para la gestión: a) Cambiar por el mismo medicamento o producto, respetando la receta médica.
                b) Bonificar el valor de otro medicamento o producto. c) Solicitar la cancelación de la compra para la devolución de su dinero. 4. POLÍTICA DE PRIVACIDAD Y MANEJO DE INFORMACION En FARMALINE S.R.L. respetamos su privacidad, por lo que
                en este apartado podrá conocer la información de identificación que necesitamos y el manejo que daremos a esa información, destacando que lo más importante es resguardar tu privacidad señalando y describiendo los aspectos relacionados
                de mayor importancia con tu privacidad. Nuestra empresa trabaja acorde a las disposiciones legales respecto a la protección de tu privacidad, nuestro compromiso permanente es cuidar la confianza de nuestros clientes. 4.1. Información necesaria
                del cliente En nuestro formulario de registro, solicitamos que nuestros clientes de forma voluntaria nos den la información como su nombre completo, número de teléfono, correo electrónico y ubicación de su domicilio. La información otorgada
                será guardada para posibilitar la venta de nuestros productos y lograr un satisfactorio servicio, además de poder continuar en contacto con usted señor cliente. 4.2. Aceptación de nuestras políticas Al registrarse en nuestra plataforma,
                usted acepta y declara conocer los términos de nuestra Política de Privacidad. FARMALINE S.R.L. recopilará la información proporcionada únicamente para fines específicos y limitados, sin apartarnos del objetivo de brindarle el mejor servicio,
                bajo las medidas que aseguren la privacidad de su información personal. Su información podrá ser utilizada con el objetivo de mejorar el servicio prestado por FARMALINE S.R.L., como ser atención al cliente, mejora de nuestros productos
                y servicios, así como poner a su conocimiento nuestras promociones que sean de su interés. 4.3. Qué datos se requieren Dependiendo de los productos y servicios de los que quieras disfrutar en cada momento, necesitaremos tratar datos personales
                como: • Datos identificativos: tu nombre y apellidos, dirección de contacto, dirección email, teléfono. • Datos de información económica y transaccional, como tus datos de medio de pago, información acerca de tus compras, pedidos, devoluciones,
                anulaciones, entre otros. • Información comercial y promocional, si te has inscrito a nuestro sistema de comunicaciones. • Datos sobre tus gustos y preferencias. En nuestros formularios encontrarás que te solicitamos datos necesarios,
                que necesitamos requerimos para poderte prestar un mejor servicio; si no nos facilitas dichos datos, es posible que no puedas completar tu registro o continuar con el proceso de compra. 4.4. Con qué finalidad solicitamos tus datos Dependiendo
                como interactúes con nosotros vamos a tratar tus datos para las siguientes finalidades: 1) Registro de Usuario y creación de cuenta cliente.- En caso de que decidas registrarte como usuario, necesitaremos tratar tus datos para identificarte
                como usuario y darte acceso a las funcionalidades de nuestra plataforma web. 2) Para el desarrollo y ejecución de la compra.- Para gestionar las compras que realices a través de nuestra página, gestionar el pago, gestionar las solicitudes
                de cambio o devoluciones, para la facturación, para tramitar el envío de tus pedidos y para que puedas acceder a tarjetas regalo, beneficios, descuentos y promociones. 3) Para finalidades de Marketing.- Para que podamos enviarte información
                personalizada acerca de nuestros productos y servicios, de acuerdo a tus preferencias y realizarte ofertas y promociones específicas para ti. En cualquier momento puedes darte de baja de estas comunicaciones, a través de los sistemas de
                baja que se incorporan en cada comunicación que te remitimos 4) Análisis de usabilidad y calidad.- Trataremos tus datos de navegación para fines analíticos y estadísticos, de manera que podamos mejorar nuestra página y adecuarla a la forma
                en que nuestros usuarios acceden y navegan por la misma. 5) Para el cumplimiento de nuestras obligaciones legales.- Trataremos los datos para el cumplimiento de las obligaciones que nos corresponden, como obligaciones fiscales, de consumo,
                atención de reclamaciones y gestión de derechos. 4.5. Cookies y Tecnologías Similares: Nuestra página, creará una cookie para contener pequeñas cantidades de tus datos con el propósito principal de identificarte como usuario almacenando
                historial de actividad en nuestro sitio web FARMALINE, de manera que se le pueda ofrecer el contenido más apropiado según sus intereses y hábitos. 4.6. Seguridad de tus datos. Sus datos personales se transmiten de forma segura mediante
                encriptación. Esto se aplica a su pedido y al inicio de sesión del cliente. Usamos el sistema de codificación SSL (Secure Socket Layer). Además, adoptamos medidas de seguridad en nuestros sitios web y otros sistemas con herramientas técnicas
                y organizativas para proteger sus datos de carácter personal de toda pérdida, mal uso, acceso o divulgación no autorizados, alteración y/o destrucción. Lamentablemente, no es posible garantizar totalmente la seguridad de ningún sistema
                de transmisión o almacenamiento de datos. Si sospecha que su interacción con nosotros ya no es segura, por favor, rogamos nos avise de inmediato a través de nuestro correo electrónico o poniéndose en contacto con Atención al Cliente. 5.
                POLÍTICAS DE CONFIDENCIALIDAD Y REGIMEN LEGAL 5.1. ¿Con quién compartimos tus datos? FARMALINE de manera expresa informa que, únicamente comunicará los datos a aquellos organismos, autoridades y entes de la Administración Pública con competencia
                en la materia de acuerdo con la normativa legal vigente, y para el cumplimiento del contrato de compraventa tendremos que facilitar tus datos a terceras empresas (prestadores de servicios, encargados del tratamiento, debidamente seleccionados
                en función del grado de cumplimiento de la normativa de protección de datos) para las siguientes finalidades: • Entidades financieras y emisoras de tarjetas de crédito/debito, para la gestión de cobros y pagos. • Entidades de detección
                y prevención de fraude. • Proveedores y colaboradores de servicios de transporte y entrega de productos. • Proveedores y colaboradores de servicios de facturación, gestión contable y fiscal. 5.2. Régimen legal aplicable Las compraventas
                realizadas a FARMALINE se someten a la legislación boliviana. En caso de cualquier controversia que pueda derivarse de la interpretación de las políticas de nuestra empresa o de las condiciones generales de compra serán sometidos a los
                tribunales competentes de acuerdo a la normativa vigente. Declaramos que FARMALINE se sujeta estrictamente a lo dispuesto en Ley Nº 164, de 8 de agosto de 2011, y su Reglamento para el Desarrollo de Tecnologías de Información y Comunicación,
                de 13 de noviembre de 2013. Así mismo hacemos conocer que nuestra política de cambio o devoluciones están garantizadas por la Ley N° 453, Ley General de los derechos de las usuarias y los usuarios y de las consumidoras y los consumidores,
                de 6 de diciembre de 2013 6. NOTIFICACIONES Todas las comunicaciones y solicitudes que requiera el cliente se deberán efectuar por escrito a nuestro correo electrónico …….., donde será atendido por nuestra oficina de soporte al cliente.

            </div>
        </div>
    </div>
</div>