<div class="pub pub-home pub-promise">
    <div class="container">
        <div class="titleSection">EDUCACIÓN CENTRADA EN PROGRAMAS DEL FUTURO</div>
        <div class="resumenSection">
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
            vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
            Nullam quis risus eget urna mollis ornare vel eu leo. Integer
            posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus.
        </div>
        <div class="list listImagesLinks">
            <a href="#" class="item block">
                <div class="text">
                    PREGRADO
                </div>
                <div class="bg"></div>
                <div
                    class="img"
                    style="background:url({{_PATH_FILES}}files/notes/prom-1.jpg) center center"
                ></div>
            </a>
            <a href="#" class="item block">
                <div class="text">POST GRADO</div>
                <div class="bg"></div>
                <div
                    class="img"
                    style="background:url({{_PATH_FILES}}files/notes/prom-2.jpg) center center"
                ></div>
            </a>
            <a href="#" class="item block">
                <div class="text">
                    EXTENSIÓN UPB
                </div>
                <div class="bg"></div>
                <div
                    class="img"
                    style="background:url({{_PATH_FILES}}files/notes/prom-3.jpg) center center"
                ></div>
            </a>
        </div>
    </div>
</div>
