<!-- pub {{_PUB_NAME}} -->
<div class="pub {{_PUB_CLASS}}" pubid="{{_PUB_ID}}" module="content" style="">
    <div class="pub-inner">
        <div class="titleSection container">{{_TITLE}}</div>

        <div class="bodySection">
            <a class="btnService" path="pa"
                style="background: url({{_PATH_FILES}}files/contents/service-1.jpg) center center;">
                <div class="bg"></div>
                <label>Producción <br> Audiovisual</label>
                <span class="summary">
                    <label>Producción <br> Audiovisual</label>
                    - Servicio de Produccion<br>
                    - Branded Content & Social Media<br>
                    - Videos Corporativos<br>
                    <!-- - Propaganda política e institucional<br>-->
                </span>
            </a>
            <a target="_blank" href="http://flowbolivia.com/" class="btnService" path="flow"
                style="background: url({{_PATH_FILES}}files/contents/service-2.jpg) center center;">
                <div class="bg"></div>
                <label for="">Post producción</label>
                <span class="summary">
                    <img src="{{_PATH_FILES}}files/contents/flow.svg" alt="">
                    - Modelado de productos y personajes digitales<br>
                    - Animación 2D y 3D<br>
                    - Post-producción general<br>
                    - VFX (Efectos especiales)<br>
                    - Producción CGI (Computer-Generated Imaginery)<br>
                    - VR (Realidad Virtual)<br>
                    - AR (Realidad Aumentada)<br>
                </span>
            </a>
            
            <a target="_blank" href="https://www.boomerangstream.com/" class="btnService" path="boomerang"
                style="background: url({{_PATH_FILES}}files/contents/service-3.jpg) center center;">
                <div class="bg"></div>
                <label for="">Streaming</label>
                <span class="summary">
                    <img src="{{_PATH_FILES}}files/contents/boomerang.svg" alt="">
                    - Congresos Virtuales<br>
                    - Cobertura de Eventos<br>
                    - Webinarios Híbridos<br>
                    - Grabaciones en set (Chroma disponible)<br>
                    - Contenidos originales para redes<br>
                </span>
            </a>

            <a target="_blank" href="https://vimeo.com/showcase/8580974" class="btnService" path="genz"
                style="background: url({{_PATH_FILES}}files/contents/service-4.jpg) center center;">
                <div class="bg"></div>
                <label for="">Contenido Digital</label>
                <span class="summary">
                    <!--<img src="{{_PATH_FILES}}files/contents/genz.svg" alt="">-->
                    - Producciones de Low Cost <br>
                    - Producciones para formatos y lenguaje digital.<br>
                    - Facebook<br>
                    Instagram<br>
                    Youtube<br>
                    TikTok, etc.
                </span>
            </a>
            <a class="btnService" path="cine"
                style="background: url({{_PATH_FILES}}files/contents/service-5.jpg) center center;">
                <div class="bg"></div>
                <label for="">Cine</label>
                <span class="summary">
                    <img src="{{_PATH_FILES}}files/contents/cine.svg" alt="">
                    - Peliculas<br>
                    - Series<br>
                    - Documentales
                </span>
            </a>
        </div>

    </div>
</div>