<div class="pub pub-home pub-slider">
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB}}sites/default/assets/css/dist/slide.css?{{_VS}}" />
    <script src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.slides.min.js"></script>
    <script>
        $(function () {
            $("#slides").slidesjs({
                play: {
                    active: true,
                    // [boolean] Generate the play and stop buttons.
                    // You cannot use your own buttons. Sorry.
                    effect: "fade",
                    // [string] Can be either "slide" or "fade".
                    interval: 6400,
                    // [number] Time spent on each slide in milliseconds.
                    auto: false,
                    // [boolean] Start playing the slideshow on load.
                    swap: true,
                    // [boolean] show/hide stop and play buttons
                    pauseOnHover: false,
                    // [boolean] pause a playing slideshow on hover
                    restartDelay: 2000,
                    // [number] restart delay on inactive slideshow
                },
            });
            //$("#slides .slidesjs-pagination-item a").html("");
            $("#slides .slidesjs-previous").html(
                '<i class="arrow arrow-left"></i>'
            );
            $("#slides .slidesjs-next").html(
                '<i class="arrow arrow-right"></i>'
            );
            $("#slides .slidesjs-play").html("");
            $("#slides .slidesjs-stop").html("");

            resizeSlide();
        });
        resizeSlide = () => {
            let w = $(window).width();
            let h = $(window).height();
            let hNav = $(".navTop").height();
            let hNov = $(".pub-novedades").outerHeight();
            let hSlider = h - hNov;
            $(".pub-slider").outerHeight(h);
            $(".pub-slider .slidesjs-container").outerHeight(hSlider);
        };
    </script>

    <div class="slides containerFluid" id="slides">

        <div class="item item-2 btnSliderStr" item="2" id="idItem1">
            <div class="text">
                <a class="title btnSliderStr" item="2">
                    <h1>Pilsen</h1>
                </a>
            </div>
            <div class="video" item="2">
                <!-- &autoplay=1 -->
                <a class="btnCancel" item="2"><i class=" icon icon-close"></i> <span>Cerrar</span> </a>
                <iframe src="https://player.vimeo.com/video/703410607?h=e88086d629&title=0&byline=0&portrait=0" width="640" height="242" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="bgItem"></div>
            <div class="img" item="2" style="background:url({{_PATH_WEB}}files/slides/pilsen.jpg) center center">
            </div>
        </div>
        <div class="item item-3" id="idItem1">
            <div class="text">
                <a class="title btnSliderStr" item="3">
                    <h1>Clear Woman</h1>
                </a>
            </div>
            <div class="video" item="3">
                <!-- &autoplay=1 -->
                <a class="btnCancel" item="3"><i class=" icon icon-close"></i> <span>Cerrar</span> </a>
                <iframe src="https://player.vimeo.com/video/703570325?h=b8c0abe066&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="bgItem"></div>
            <div class="img" item="3" style="background:url({{_PATH_WEB}}files/slides/clear-woman.jpg) center center">
            </div>
        </div>
        <div class="item item-4" id="idItem1">
            <div class="text">
                <a class="title btnSliderStr" item="4">
                    <h1>Pastas Arcor</h1>
                </a>
            </div>
            <div class="video" item="4">
                <!-- &autoplay=1 -->
                <a class="btnCancel" item="4"><i class=" icon icon-close"></i> <span>Cerrar</span> </a>
                <iframe src="https://player.vimeo.com/video/711451482?h=65d4f6b3d1&title=0&byline=0&portrait=0" width="640" height="268" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="bgItem"></div>
            <div class="img" item="4" style="background:url({{_PATH_WEB}}files/slides/pastas-arcor.jpg) center center">
            </div>
        </div>
        <div class="item item-5" id="idItem1">
            <div class="text">
                <a class="title btnSliderStr" item="5">
                    <h1>Solbet</h1>
                </a>
            </div>
            <div class="video" item="5">
                <!-- &autoplay=1 -->
                <a class="btnCancel" item="5"><i class=" icon icon-close"></i> <span>Cerrar</span> </a>
                <iframe src="https://player.vimeo.com/video/690210299?h=a2989b7b11&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="bgItem"></div>
            <div class="img" item="5" style="background:url({{_PATH_WEB}}files/slides/solbet.jpg) center center">
            </div>
        </div>

        <div class="item item-1" id="idItem1">
            <div class="text btnSliderStr" item="1">
                <div class="title">
                    <h1>PROANI</h1>
                </div>
            </div>

            <div class="video" item="1">
                <!-- &autoplay=1 -->
                <a class="btnCancel" item="1"><i class=" icon icon-close"></i> <span>Cerrar</span> </a>
                <iframe src="https://player.vimeo.com/video/700619566?h=c0345523be&title=0&byline=0&portrait=0"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="bgItem"></div>
            <div class="img" item="1" style="background:url({{_PATH_WEB}}files/slides/banner-1.jpg) center center">
            </div>
        </div>
    </div>
</div>