<div class="pub pub-home pub-slider">
	<link
		rel="stylesheet"
		type="text/css"
		href="{{_PATH_WEB}}{{_PATH_SITE}}assets/css/dist/slide.css?{{_VS}}"
	/>
	<script src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.slides.min.js"></script>
	<script>
		$(function () {
			$("#slides").slidesjs({
				play: {
					active: true,
					// [boolean] Generate the play and stop buttons.
					// You cannot use your own buttons. Sorry.
					effect: "fade",
					// [string] Can be either "slide" or "fade".
					interval: 6400,
					// [number] Time spent on each slide in milliseconds.
					auto: false,
					// [boolean] Start playing the slideshow on load.
					swap: true,
					// [boolean] show/hide stop and play buttons
					pauseOnHover: false,
					// [boolean] pause a playing slideshow on hover
					restartDelay: 2500,
					// [number] restart delay on inactive slideshow
				},
			});
			//$("#slides .slidesjs-pagination-item a").html("");
			$("#slides .slidesjs-previous").html(
				'<i class="arrow arrow-left"></i>'
			);
			$("#slides .slidesjs-next").html(
				'<i class="arrow arrow-right"></i>'
			);
			$("#slides .slidesjs-play").html("");
			$("#slides .slidesjs-stop").html("");

			resizeSlide();
		});
		resizeSlide = () => {
			let w = $(window).width();
			let h = $(window).height();
			let hNav = $(".navTop").height();
			let hNov = $(".pub-novedades").outerHeight();
			let hSlider = h - hNov;
			$(".pub-slider").outerHeight(h);
			$(".pub-slider .slidesjs-container").outerHeight(hSlider);
		};
	</script>

	<div class="slides containerFluid" id="slides">
		<div class="item item-1" id="idItem1">
			<div class="text">
				<div class="container">
					<div class="textSlider animated fadeInRight">
						<div class="title">SUPERANDONOS CADA AÑO</div>
						<div class="subtitle">
							La mejor Escuela de Negocios de Bolivia
							<b>Nro13</b> de Latinoamerica
						</div>
						<a class="btn btnFull btnCenter">
							<span>Conoce Más</span>
							<i class="icon icon-skip"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="bgItem"></div>
			<div
				class="img"
				style="background:url({{_PATH_WEB}}files/slides/banner-1.jpg)"
			></div>
		</div>
		<div class="item item-2" id="idItem2">
			<div class="bgItem"></div>
			<div class="img" style="background: rgb(219, 108, 108)"></div>
		</div>
		<div class="item item-3" id="idItem3">
			<div class="bgItem"></div>
			<div class="img" style="background: rgb(105, 97, 209)"></div>
		</div>
	</div>

	<div class="pub pub-novedades">
		<div class="inner">
			<a href="#" class="block">
				<div class="text">
					SUPERANDONOS CADA AÑO LA MEJOR ESCUELA DE NEGOCIOS DE BOLIVA
					Nro13 DE LATINOAMERICA
				</div>
				<div class="bg"></div>
				<div
					class="img"
					style="background:url({{_PATH_FILES}}files/notes/img-1.jpg) center center"
				></div>
			</a>
			<a href="#" class="block">
				<div class="text">LA UPB INICIA AÑO ACADEMICO</div>
				<div class="bg"></div>
				<div
					class="img"
					style="background:url({{_PATH_FILES}}files/notes/img-2.jpg) center center"
				></div>
			</a>
			<a href="#" class="block">
				<div class="text">
					DURANTE LAS GRANDES CRISIS TAMBIÉN SURGEN NUEVAS IDEAS
				</div>
				<div class="bg"></div>
				<div
					class="img"
					style="background:url({{_PATH_FILES}}files/notes/img-3.jpg) center center"
				></div>
			</a>
			<a href="#" class="block">
				<div class="text">
					LA UNIVERSIDAD PRIVADA BOLIVIANA – UPB, DESTACA POR SU
					OFERTA ACADÉMICA
				</div>
				<div class="bg"></div>
				<div
					class="img"
					style="background:url({{_PATH_FILES}}files/notes/img-4.jpg) center center"
				></div>
			</a>
		</div>
	</div>
</div>
