<div class="social">
    <a href="https://vimeo.com/showcase/8518061" target="_blank">
        <img src="{{_PATH_FILES}}sites/default/assets/img/vimeo.svg" alt="">
    </a>
    <a href="https://www.instagram.com/guaranifilms/" target="_blank">
        <img src="{{_PATH_FILES}}sites/default/assets/img/instagram.svg" alt="">
    </a>
    <a href="https://www.facebook.com/guaranifilms/" target="_blank">
        <img src="{{_PATH_FILES}}sites/default/assets/img/facebook.svg" alt="">
    </a>
</div>