<nav>
    <div class="brand">
        <img class="logo" src="{{_PATH_FILES}}sites/default/assets/img/logo-guaraniFilms.svg" alt="">
        <!-- <img class="escudo" src="{{_PATH_FILES}}sites/default/assets/img/escudo.svg" alt=""> -->
    </div>
    <div class="navTop">
        <!-- <img class="logo" src="{{_PATH_FILES}}sites/default/assets/img/logo-1.svg" alt=""> -->
        {{_SOCIAL}}
    </div>
</nav>
<a class="btnMenuGeneral">
    <span class="lineal top"></span>
    <span class="lineal medium"></span>
    <span class="lineal bottom"></span>
</a>
<div class="navInner">
    <div class="navInnerContent">
        <a href="{{_PATH_WEB}}"><span>Inicio</span></a>
        <a class="btnDirectores"><span>Directores</span></a>
        <!--<div class="list">
                <div id="menuDirectors"></div>
                {{_DIRECTORS}}
            </div>-->
        <a target="_blank" href="https://www.boomerangstream.com/" class=""> <span>BOOMERANG</span></a>
        <a target="_blank" href="http://flowbolivia.com/" class=""> <span>FLOW</span></a>
        <a href="#contact" class=""> <span>Contacto</span></a>
    </div>
</div>
<div id="video-portada">
    <div class="caption">

        <label for="">Nuestros ultimos proyectos</label>
        <a class="btnLastProyects" target="_blank">
            <img class="arrow-down" src="{{_PATH_FILES}}sites/default/assets/img/arrow-down.svg" alt="">
        </a>
    </div>
    <div class="bg"></div>
    <div class="videoBox">
        <!-- playsinline autoplay muted loop -->
        <video preload="auto" poster="{{_LINK_IMG}}" >
            <source src="{{_LINK_VIDEO}}" type="video/mp4">
            <!-- <source src="/assets_tutorials/media/Shaun-the-Sheep-The-Movie-Official-Trailer.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
        </video>
    </div>
</div>